<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Список пользователей с административными правами</title>
    {% include '_header.html' %}
</head>
<body>
    {% include '_menu.html' %}
    <div class="container">
    <h2>Список преподавателей</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Login</th>
            </tr>
        </thead>
        <tbody>
            {% for u in admin_users %}
                <tr>
                    <td><a href="{{ url_for('admin_user', id=u.id) }}">{{ u.full_name }}</a></td>
                    <td>{{ u.login }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container">
        <a href="{{ url_for('admin_user', id='new') }}" class="btn btn-primary">Добавить администратора</a>
    </div>
    </div>
</body>
</html>