<html>
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>Аттестационная ведомость</title>
    {% include '_header.html' %}
    <style type="text/css">
        .input-mark
        {
            width: 35px;
        }
    </style>
</head>
<body>
    {% include '_menu.html' %}
    <div class="container">
        <h2>Аттестационная ведомость</h2>
        <dl class="row">
            <dt class="col-sm-3">
                Учебный год:
            </dt>
            <dd class="col-sm-3">
                {{ curriculum_unit.stud_group.year_print }}
            </dd>
            <dt class="col-sm-3">
                Дисциплина:
            </dt>
            <dd class="col-sm-3">
                {{ curriculum_unit.subject.name }}
            </dd>
            <dt class="col-sm-3">
                Группа:
            </dt>
            <dd class="col-sm-3">
                <a href="{{ url_for('stud_group', id=curriculum_unit.stud_group.id, _anchor='curriculum_units') }}">
                    {{ curriculum_unit.stud_group.num_print }}
                </a>
            </dd>
            <dt class="col-sm-3">
                Преподаватель:
            </dt>
            <dd class="col-sm-3">
                {{ curriculum_unit.teacher.rank }} {{ curriculum_unit.teacher.full_name_short }}
            </dd>
            <dt class="col-sm-3">
                Семестр:
            </dt>
            <dd class="col-sm-3">
                {{ curriculum_unit.stud_group.semester }}
            </dd>
            <dt class="col-sm-3">
                Курс:
            </dt>
            <dd class="col-sm-3">
                {{ curriculum_unit.stud_group.course }}
            </dd>
            <dt class="col-sm-3">
                Отчётность:
            </dt>
            <dd class="col-sm-3">
                {{ curriculum_unit.mark_type_name[1] }}
            </dd>
        </dl>
        <form method="post" id="formAttMarks">
            <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Студ. билет №</th>
                <th>1 атт</th>
                <th>2 атт</th>
                <th>3 атт</th>
                {% if curriculum_unit.mark_type_name[0] == 'exam' %}
                    <th>экзамен</th>
                {% endif %}
                {% if curriculum_unit.mark_type_name[0] in ('exam', 'test_diff') %}
                    <th>доп. балл</th>
                    <th>балл</th>
                {% endif %}
                <th>итог</th>
            </tr>
            </thead>
            <tbody>
                {% for att_mark in form.att_marks %}
                <tr>
                    <th>
                        {{ loop.index }}
                    </th>
                    <td>
                        {{ att_mark.att_mark_id }}
                        {{ att_mark.object_data.student.full_name }}
                    </td>
                    <td>
                        {{ att_mark.object_data.student.id }}
                    </td>
                    <td>
                        {{ att_mark.att_mark_1(class_='input-mark', tabindex=loop.index) }}
                        {% if att_mark.att_mark_1.errors %}
                            <span class="badge badge-danger">
                                {{ ', '.join(att_mark.att_mark_1.errors ) }}
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        {{ att_mark.att_mark_2(class_='input-mark', tabindex=form.att_marks|length+loop.index)|safe }}
                        {% if att_mark.att_mark_2.errors %}
                            <span class="badge badge-danger">
                                {{ ', '.join(att_mark.att_mark_2.errors ) }}
                            </span>
                        {% endif %}
                    </td>
                     <td>
                         {{ att_mark.att_mark_3(class_='input-mark', tabindex=2*form.att_marks|length+loop.index)|safe }}
                         {% if att_mark.att_mark_3.errors %}
                            <span class="badge badge-danger">
                                {{ ', '.join(att_mark.att_mark_3.errors ) }}
                            </span>
                         {% endif %}
                    </td>
                    {% if curriculum_unit.mark_type_name[0] == 'exam' %}
                        <td>
                            {{ att_mark.att_mark_exam(class_='input-mark', tabindex=3*form.att_marks|length+loop.index)|safe }}
                            {% if att_mark.att_mark_exam.errors %}
                                <span class="badge badge-danger">
                                    {{ ', '.join(att_mark.att_mark_exam.errors ) }}
                                </span>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if curriculum_unit.mark_type_name[0] in ('exam', 'test_diff') %}
                        <td>
                            {{ att_mark.att_mark_append_ball(class_='input-mark', tabindex=4*form.att_marks|length+loop.index)|safe }}
                            {% if att_mark.att_mark_append_ball.errors %}
                                <span class="badge badge-danger">
                                    {{ ', '.join(att_mark.att_mark_append_ball.errors ) }}
                                </span>
                            {% endif %}
                        </td>
                        <th>
                            {% if att_mark.object_data.result_print %}
                                {{ att_mark.object_data.result_print[0] }}
                            {% endif %}
                        </th>
                    {% endif %}
                    <th>
                        {% if att_mark.object_data.result_print %}
                            {{ att_mark.object_data.result_print[1]['value_text'] }}
                        {% endif %}
                    </th>
                </tr>
                {% endfor %}
            </tbody>
            </table>


            {{ bootstrap_form_button(form.button_clear, class_="btn btn-danger")|safe }}
            {{ bootstrap_form_button(form.button_save, class_="btn btn-success")|safe }}
        </form>
    </div>
    <script type="text/javascript">
        /*Вставка javascript предупреждение об очистке ведомости*/
        $(document).ready(function(){
            $('#formAttMarks [name=button_clear]').click(function(){
                return confirm("Все данные об оценках в ведомости будут удалены. Продолжить ?")
            });
        });
    </script>

</body>
</html>