<!DOCTYPE html>
<html lang="en">
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>Посещаемость</title>
    {% include '_header.html' %}
</head>
<body>
{% include '_menu.html' %}
<div class="container-fluid text-center">
    <div class="row border-bottom border-top">
        <div class="col-3 my-auto">
            {% if current_user.role_name in ('Teacher') %}
                <div class="form-check float-left">
                    <input type="checkbox" class="form-check-input" id="checkbox_is_groupleader_mark_attendance">
                    <label class="form-check-label" for="checkbox_is_groupleader_mark_attendance">Староста отмечает
                        посещаемость</label>
                </div>
            {% endif %}
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <h1>Посещаемость</h1>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row border-bottom border-top">
        {#        <div class="col-2 p-0 my-auto" style="max-width: 190px;">#}
        {#            <a href="{{ url_for('print_excel') }}" id="print-to-excel" class="text-dark">#}
        {#                <i class="fas fa-file-excel fa-2x bg-success"></i>#}
        {#            </a>#}
        {#            <a href="{{ url_for('print_pdf') }}" class="text-dark">#}
        {#                <i class="fas fa-file-pdf fa-2x bg-danger"></i>#}
        {#            </a>#}
        {#        </div>#}
        <div class="col p-0">
            <select class="custom-select" style="border-radius: 0;" id="course">
                {% for i in range(1, 5) %}
                    {% if i != course %}
                        <option>{{ i }} курс</option>
                    {% else %}
                        <option selected>{{ i }} курс</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col p-0">
            <select class="custom-select" style="border-radius: 0;" id="group">
                {% for group in groups %}
                    {% if group.num == group_num and group.subnum == group_subnum %}
                        <option selected>{{ group.num_print }} группа</option>
                    {% else %}
                        <option>{{ group.num_print }} группа</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col p-0">
            <select class="custom-select" style="border-radius: 0;" id="lesson_type">
                {% for lesson_type in lesson_types %}
                    {% if lesson_type == selected_lesson_type %}
                        <option selected>{{ lesson_type }}</option>
                    {% else %}
                        <option>{{ lesson_type }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col p-0">
            <select class="custom-select" style="border-radius: 0;" id="lesson">
                {% for subject in subjects %}
                    {% if subject.name == selected_subject %}
                        <option selected>{{ subject.name }}</option>
                    {% else %}
                        <option>{{ subject.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <table class="table" id="table-attendance">
        <thead>
        <tr> <!-- 12 дат (2 недели) -->
            <th scope="col">ФИО студента/Дата проведения занятия</th>
            {% for week_date in week_dates %}
                <th scope="col" class="align-middle">{{ week_date }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td class="align-middle font-weight-bold">{{ student.full_name }}</td>
                {% for attend in student.attendance %}
                    {% if attend.lesson_attendance %}
                        <td class="align-middle h2">+</td>
                    {% else %}
                        <td class="align-middle h2">-</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript">{% include 'js/attendance.js' %}</script>
</body>
</html>