<!DOCTYPE html>
<html lang="en">
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>Посещаемость</title>
    {% include '_header.html' %}
</head>
<body>
{% include '_menu.html' %}
<div class="container-fluid text-center">
    <div class="row border-bottom border-top">
        <div class="col">
            <h1>Посещаемость</h1>
        </div>
    </div>
    <div class="row border-bottom border-top">
{#        <div class="col-2 p-0 my-auto" style="max-width: 190px;">#}
{#            <a href="{{ url_for('print_excel') }}" id="print-to-excel" class="text-dark">#}
{#                <i class="fas fa-file-excel fa-2x bg-success"></i>#}
{#            </a>#}
{#            <a href="{{ url_for('print_pdf') }}" class="text-dark">#}
{#                <i class="fas fa-file-pdf fa-2x bg-danger"></i>#}
{#            </a>#}
{#        </div>#}
        <div class="col p-0">
            <select class="custom-select" style="border-radius: 0;" id="course">
                {% for i in range(1, 5) %}
                    {% if i != course %}
                        <option>{{ i }} курс</option>
                    {% else %}
                        <option selected>{{ i }} курс</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col p-0">
            <select class="custom-select" style="border-radius: 0;" id="group">
                {% for group in groups %}
                    {% if group.stud_group_num == group_num and group.stud_group_subnum == group_subnum %}
                        <option selected>{{ group.num_print }} группа</option>
                    {% else %}
                        <option>{{ group.num_print }} группа</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col p-0">
            <select class="custom-select" style="border-radius: 0;" id="lesson_type">
                {% for lesson_type in lesson_types %}
                    <option>{{ lesson_type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col p-0">
            <select class="custom-select" style="border-radius: 0;" id="lesson">
                <option>Язык С++</option>
                <option>Язык С++</option>
                <option>Язык С++</option>
                <option>Язык С++</option>
            </select>
        </div>
    </div>
    <table class="table" id="table-attendance">
        <thead>
        <tr> <!-- 12 дат (2 недели) -->
            <th scope="col">ФИО студента/Дата проведения занятия</th>
            {% for week_date in week_dates %}
                <th scope="col" class="align-middle">{{ week_date }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td class="align-middle font-weight-bold">{{ student.full_name }}</td>
                <td class="align-middle h2">+</td>
                <td class="align-middle h2">+</td>
                <td class="align-middle h2">-</td>
                <td class="align-middle h2">+</td>
                <td class="align-middle h2">+</td>
                <td class="align-middle h2">-</td>
                <td class="align-middle h2">+</td>
                <td class="align-middle h2">+</td>
                <td class="align-middle h2">-</td>
                <td class="align-middle h2">+</td>
                <td class="align-middle h2">+</td>
                <td class="align-middle h2">-</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='custom/attendance.js') }}"></script>
</body>
</html>