{% extends 'common_single_record_page.html' %}

{% block title %}
    <title>Начало занятий</title>
{% endblock %}

{% block container_content %}
    <h2>Начало занятий</h2>
    {% if lesson_beginning.year and lesson_beginning.half_year %}
        <h3>{{ lesson_beginning.year }}/{{ lesson_beginning.half_year.value }}</h3>
    {% endif %}
    <form method="post">
        {% autoescape false %}
            {% for field in form %}
                {% if field.type != 'SubmitField' %}
                    {{ bootstrap_form_input(field) }}
                {% else %}
                    {{ bootstrap_form_button(field) }}
                {% endif %}
            {% endfor %}
        {% endautoescape %}
    </form>
{% endblock %}