{% extends 'common_records_page.html' %}

{% block title %}
    <title>Начала занятий</title>
{% endblock %}

{% block header_title %}
    <h2>Список начал занятий</h2>
{% endblock %}

{% block field_names %}
    <th>Учебный год/Полугодие</th>
    <th>Дата начала занятий</th>
    <th>Дата конца занятий</th>
    <th></th>
    <th></th>
    <th></th>
{% endblock %}

{% block add_button %}
    <a href="{{ url_for('lesson_beginning', year='new_year', half_year='new_half_year') }}" class="btn btn-primary mr-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
        Новое начало занятий
    </a>
{% endblock %}

{% block records %}
    {% for lesson_beginning in all_lessons_beginning.items %}
        <tr>
            <td>
                <input class="form-check-input" type="checkbox" value="" id="checkbox_for_operations">
                <label class="form-check-label" for="flexCheckChecked">
                </label>
            </td>
            <td>
                <a href="{{ url_for('lesson_beginning', year=lesson_beginning.year, half_year=lesson_beginning.half_year.value) }}">{{ lesson_beginning.year }}/{{ lesson_beginning.half_year.value }}</a>
            </td>
            <td>{{ lesson_beginning.beginning_date }}</td>
            <td>{{ lesson_beginning.end_date }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block pagination %}
    {% if all_lessons_beginning.has_prev %}
        <a href="{{ url_for('lessons_beginning', page = all_lessons_beginning.prev_num) }}"><< Previous page</a>
    {% else %}
        << Previous page
    {% endif %}
    |
    {% if all_lessons_beginning.has_next %}
        <a href="{{ url_for('lessons_beginning', page = all_lessons_beginning.next_num) }}">Next page >></a>
    {% else %}
        Next page >>
    {% endif %}
{% endblock %}