<!DOCTYPE html>
<html lang="en">
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>Начало занятий</title>
    {% include '_header.html' %}
</head>
<body>
{% include '_menu.html' %}
<div class="container">
    <h2>Начало занятий</h2>
    {% if lesson_beginning.year and lesson_beginning.half_year %}
        <h3>{{ lesson_beginning.year }}/{{ lesson_beginning.half_year }}</h3>
    {% endif %}
    <form method="post">
        {% autoescape false %}
        {{ bootstrap_form_input(form.year) }}
        {{ bootstrap_form_input(form.half_year) }}
        {{ bootstrap_form_input(form.beginning_date) }}
        {{ bootstrap_form_input(form.end_date) }}
        {% if lesson_beginning.year and lesson_beginning.half_year %}
            {{ bootstrap_form_button(form.button_delete, class_="btn btn-danger") }}
        {% endif %}
        {{ bootstrap_form_button(form.button_save, class_="btn btn-success") }}
        {% endautoescape %}
    </form>
</div>
</body>
</html>