{% extends 'common_single_record_page.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block container_content %}
    <h2>{{ title }}</h2>
    <form method="post">
        {% autoescape false %}
            {% for field in form if field.name != 'objects_count' %}
                {% if field.type != 'SubmitField' %}
                    {{ bootstrap_form_input(field) }}
                {% else %}
                    {{ bootstrap_form_button(field) }}
                {% endif %}
            {% endfor %}
        {% endautoescape %}
    </form>
{% endblock %}