{% extends 'common_single_record_page.html' %}

{% block title %}
    <title>Учебная пара</title>
{% endblock %}

{% block container_content %}
    <h2>Учебная пара</h2>
    {% if teaching_pair.pair_id %}
        <h3>Пара {{ teaching_pair.pair_number }}</h3>
    {% endif %}
    <form method="post">
        {% autoescape false %}
            {% if not teaching_pair.pair_id %}
                {% for field in form %}
                    {% if field.type != 'SubmitField' %}
                        {{ bootstrap_form_input(field) }}
                    {% else %}
                        {{ bootstrap_form_button(field) }}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for field in form if field.name != 'objects_count' %}
                    {% if field.type != 'SubmitField' %}
                        {{ bootstrap_form_input(field) }}
                    {% else %}
                        {{ bootstrap_form_button(field) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endautoescape %}
    </form>
{% endblock %}