{% extends 'common_records_page.html' %}

{% block title %}
    <title>Учебные пары</title>
{% endblock %}

{% block header_title %}
    <h4>Список учебных пар</h4>
{% endblock %}

{% block check_all_checkbox %}
    {% if all_teaching_pairs %}
        <input class="form-check-input" type="checkbox" id="check_all">
        <label class="form-check-label" for="check_all">
        </label>
    {% endif %}
{% endblock %}

{% block field_names %}
    <th class="align-middle">Номер пары</th>
    <th class="align-middle">Время начала занятий</th>
    <th class="align-middle">Время конца занятий</th>
    <th class="no-sorting align-middle"></th>
    <th class="no-sorting align-middle"></th>
    <th class="no-sorting align-middle"></th>
{% endblock %}

{% block add_button %}
    <a href="{{ url_for('teaching_pair', teaching_pair_id='new') }}" class="btn btn-primary mr-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z">
            </path>
        </svg>
        Новая учебная пара
    </a>
{% endblock %}

{% block records %}
    {% for teaching_pair in all_teaching_pairs %}
        <tr>
            <td>
                <input class="form-check-input checkbox_for_operations" type="checkbox">
                <label class="form-check-label" for="checkbox_for_operations">
                </label>
            </td>
            <td><a href="{{ url_for('teaching_pair', teaching_pair_id=teaching_pair.pair_id) }}">{{ teaching_pair.pair_number }}</a></td>
            <td>{{ teaching_pair.time_of_beginning }}</td>
            <td>{{ teaching_pair.time_of_ending }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
{% endblock %}