{% extends 'common_records_page.html' %}

{% block title %}
    <title>Учебные занятия</title>
{% endblock %}

{% block header_title %}
    <h4>Список учебных занятий</h4>
{% endblock %}

{% block check_all_checkbox %}
    {% if all_teaching_lessons %}
        <input class="form-check-input" type="checkbox" id="check_all">
        <label class="form-check-label" for="check_all">
        </label>
    {% endif %}
{% endblock %}

{% block field_names %}
    <th class="align-middle">Номер пары по числителю</th>
    <th class="align-middle">Номер дня пары по числителю</th>
    <th class="align-middle">Номер пары по знаменателю</th>
    <th class="align-middle">Номер дня пары по знаменателю</th>
    <th class="align-middle">Выставляет посещаемость староста</th>
    <th class="align-middle">Тип занятия</th>
{% endblock %}

{% block add_button %}
    <a href="{{ url_for('teaching_lesson', teaching_lesson_id='new') }}" class="btn btn-primary mr-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z">
            </path>
        </svg>
        Новое учебное занятие
    </a>
{% endblock %}

{% block records %}
    {% for teaching_lesson in all_teaching_lessons %}
        <tr>
            <td>
                <input class="form-check-input checkbox_for_operations" type="checkbox">
                <label class="form-check-label" for="checkbox_for_operations">
                </label>
            </td>
            <td>
                <a href="{{ url_for('teaching_lesson', teaching_lesson_id=teaching_lesson.teaching_lesson_id) }}">{{ teaching_lesson.pair_number_numerator }}</a>
            </td>
            <td>{{ teaching_lesson.day_number_numerator }}</td>
            <td>{{ teaching_lesson.pair_number_denominator }}</td>
            <td>{{ teaching_lesson.day_number_denominator }}</td>
            {% if teaching_lesson.can_expose_group_leader %}
                <td>Да</td>
            {% else %}
                <td>Нет</td>
            {% endif %}
            <td>{{ teaching_lesson.lesson_type }}</td>
            <td></td>
        </tr>
    {% endfor %}
{% endblock %}