<!DOCTYPE html>
<html lang="en">
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>Учебная пара</title>
    {% include '_header.html' %}
</head>
<body>
{% include '_menu.html' %}
<div class="container">
    <h2>Учебная пара</h2>
    {% if teaching_pair.pair_id %}
        <h3>Пара {{ teaching_pair.pair_number }}</h3>
    {% endif %}
    <form method="post">
        {% autoescape false %}
        {{ bootstrap_form_input(form.pair_number) }}
        {{ bootstrap_form_input(form.time_of_beginning) }}
        {{ bootstrap_form_input(form.time_of_ending) }}
        {{ bootstrap_form_input(form.objects_count) }}
        {{ bootstrap_form_button(form.button_save, class_="btn btn-success") }}
        {% endautoescape %}
    </form>
</div>
</body>
</html>