<!DOCTYPE html>
<html lang="en">
<head>
    {% from "_macros_bootstrap" import bootstrap_form_input, bootstrap_form_button with context %}
    <meta charset="UTF-8">
    <title>Учебное занятие</title>
    {% include '_header.html' %}
</head>
<body>
{% include '_menu.html' %}
<div class="container">
    <h2>Учебное занятие</h2>
    {% if teaching_lesson.teaching_lesson_id %}
        <h3>{{ teaching_lesson.lesson_type.value }}</h3>
    {% endif %}
    <form method="post">
        {% autoescape false %}
        {{ bootstrap_form_input(form.pair_number_denominator) }}
        {{ bootstrap_form_input(form.day_number_denominator) }}
        {{ bootstrap_form_input(form.pair_number_numerator) }}
        {{ bootstrap_form_input(form.day_number_numerator) }}
        {{ bootstrap_form_input(form.can_expose_group_leader) }}
        {% if teaching_lesson.teaching_lesson_id %}
            {{ bootstrap_form_button(form.button_delete, class_="btn btn-danger") }}
        {% endif %}
        {{ bootstrap_form_button(form.button_save, class_="btn btn-success") }}
        {% endautoescape %}
    </form>
</div>
</body>
</html>